:root {
    --red: #E50914;
    --black: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    font-family: 'Roboto bold', sans-serif;
    
}

header .container {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    margin-left: 60px;
}


header .logo {
    color: var(--red);
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    letter-spacing: 5px;    
}

header nav a {
   
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
}

header nav a:hover {
    color: #ffff;
}

.filme-principal {
    font-size: 14px;
    background: linear-gradient(to left, transparent 10%, rgb(0, 0, 0) 90%), url('../img/capa-house.jpg');
    color: #b6b6b6 ;
    font-weight: 400;
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container {
    margin-left: 40px;
}

.filme-principal .container {
    width: 70%;
}

.filme-principal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;

}

.filme-principal .titulo {
    font-size: 40px;
}

.botoes .assistir,
.botoes .info {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;

    margin-right: 15px;
    border-radius: 3px;


    cursor: pointer;
    transition: 0.2s ease-out;
}

.botoes img {
    height: 14px;
    width: 14px;
    margin-right: 8px;
    align-items: center;
   
}

.botoes .assistir {
    background-color: rgb(211, 211, 211);
    color: #141414;
    padding: 12px 26px;
}

.botoes .assistir:hover {
    background-color: #AAA;
}
.botoes .info {
    background-color: rgba(185, 185, 185, 0.6);
    color: white;
   
    padding: 12px 32px;
}

.botoes .info:hover {
    background-color: rgba(170, 170, 170, 0.34);
}

.botao:hover {

}